<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Login/Registration</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      {% load static %}
      <link rel="stylesheet" href={% static 'css\style.css' %}>
</head>
<body>
{% include 'includes/navbar.html' %}
<div class="container">
      <div class="wrapper">
            <div class="row">
                  {% if messages %}
                        <ul class="messages">    
                        {% for message in messages %}    
                              <li class="text-danger">{{ message }}</li>    
                        {% endfor %}
                        </ul>
                  {% endif %} 
            </div>
            <div class="row">
                  <div class="register col s6">
                        <h3>Registration</h3>
                        <form action="/authenticate/register" method="POST">
                              {% csrf_token %}
                              <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name" >
                              </div>
                              <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name" >
                              </div>
                              <div class="form-group">
                                    <label for="alias">Alias:</label>
                                    <input type="text" class="form-control" id="alias" name="alias" >
                              </div>
                              <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" class="form-control" id="email" name="email" >
                              </div>
                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password" name="password" >
                              </div>
                              <div class="form-group">
                                    <label for="confirm_password">Confirm pw</label>
                                    <input type="text" class="form-control" id="confirm_password" name="confirm_password" >
                              </div>
                              <button type="submit" class="btn btn-info">Register</button>
                        </form>
                  </div>
                  <div class="login col s6">
                        <h3>Login</h3>
                        <form action="/authenticate/login" method="POST">
                              {% csrf_token %}
                              <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" class="form-control" id="email" name="email" >
                              </div>
                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password" name="password" >
                              </div>
                              <button type="submit" class="btn btn-info">Login</button>
                        </form>
                  </div>
            </div>
      </div>
</div>
</body>
</html>