<!DOCTYPE html>
<html lang="en">
{% include 'includes/head_links.html' %}
<body>
{% include 'includes/navigation_bar.html' %}
<div class="container">
      <div class="wrapper">
            <div class="row">
                  {% if messages %}
                        <ul class="messages">    
                        {% for message in messages %}    
                              <li class="text-danger">{{ message }}</li>    
                        {% endfor %}
                        </ul>
                  {% endif %} 
            </div>
            <div class="row d-flex justify-content-center pt-5 ">
                  <h3>Login to TryResell or <a href="register/new">create an account</a></h3>
            </div>
            <hr/>
            <div class="row">
                  <div class="col d-flex justify-content-center p-2">
                        
                        <form action="/authenticate/login" method="POST">
                              {% csrf_token %}
                              <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input type="text" class="form-control" id="email" name="email" >
                              </div>
                              <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="text" class="form-control" id="password" name="password" >
                              </div>
                              <button type="submit" class="btn btn-info">Login</button>
                        </form>
                  </div>
            </div>
      </div>
</div>
</body>
</html>