<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>TryResell</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      {% load static %}
      <link rel="stylesheet" href={% static 'css\style.css' %}>
</head>
<body>

<h1>Homepage holder</h1>\
{% if user_logged_in %}
      <h1>Logged in!</h1>
      <a class="btn btn-danger" href="/authenticate/logout">Loggout</a>
{% else %}
      <a class="btn btn-info" href="/authenticate">Login</a>
{% endif %}
</body>
</html>