<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
{% include 'includes/head_links.html' %}
<link rel="stylesheet" href="{% static 'css/main.css'%}"/>
</head>
<body>
      {% include 'includes/navbar.html' %}
      <div class="container">
            <div class="row mt-4 mb-4">
                  <div class="col-4">
                  <h2>{{user_data.first_name}} {{user_data.last_name}}</h2>
                  <p>{{user_data.alias}}</p>
                  <div>
                        {% if user_data.profile_image %}
                              <img class="profile-image" src="{{user_data.profile_image.url}}">
                        {% else %}
                              <span class="profile-avatar material-icons user-avatar">person</span>
                        {% endif %}
                        <form method="POST" action="/profile/image" enctype="multipart/form-data">
                              {% csrf_token %}

                              <div class="form-group mt-3">
                                    <label for="profile_pic">Upload Profile Picture:</label>
                                    <input type="file" class="form-control-file" id="profile_pic" name="profile_pic">
                              </div>
                              <button type="submit" class="btn btn-info mt-3">Save</button>
                        </form>
                        
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/product/new">Create a product to sell</a></li>
                        <li class="list-group-item"><a href="#">Favourite products</a></li>
                        <li class="list-group-item list-group-item-danger"><a href="/authenticate/account/delete">Delete account</a></li>
                  </ul>
                  </div>
                  <div class="col-8">
                        <div class="row">
                              <h3>Your selling products</h3>
                              <div class="list-group">
                              {% if selling_products.count > 0 %}
                                    {% for product in selling_products %}
                                          <a href="/product/{{product.id}}" class="list-group-item list-group-item-action mt-2">
                                                <div class="d-flex w-100 justify-content-between">
                                                      <h5 class="mb-1">{{product.title}}</h5>
                                                      <small>{{product.created_at}}</small>
                                                </div>
                                                <p class="mb-1">{{product.description}}</p>
                                                <small>{{product.price}}$</small>
                                          </a><a class="list-group-item" href="/product/{{product.id}}/delete">Remove product</a>
                                    {% endfor %}
                              
                              {% else %}
                                    <p> You haven't placed a product to sell yet! </p>
                              {% endif %}
                              </div>
                        <div>
                        <div class="row mt-4">
                              <h3 class=" ml-4">Previous orders:</h3>
                              <div class="list-group">
                              {% if orders.count > 0 %}
                                    <table class="table">
                                          <thead>
                                          <tr>
                                                <th scope="col">Reference code</th>
                                                <th scope="col">Done at</th>
                                                <th scope="col">Status</th>
                                                <th scope="col">Total</th>
                                          </tr>
                                          </thead>
                                          <tbody>
                                          {% for order_item in orders %}
                                                <tr>
                                                      <td>{{order_item.reference_code}}</td>
                                                      <td>{{order_item.created_at}}</td>
                                                      <td>{{order_item.is_order_complete}} - Complete</td>
                                                      <td>{{order.get_total_price}}$</td>
                                                </tr>
                                          {% endfor %}
                                          </tbody>
                                    </table>                              
                              {% else %}
                                    <p> You don't have any order yet! </p>
                              {% endif %}
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</body>
</html>