<!DOCTYPE html>
<html lang="en">
{% include 'includes/head_links.html' %}
<body>
      {% include 'includes/navbar.html' %}
      <div class="container">
            <div class="row">
                  <div class="col-4">
                  <h2>{{user_data.first_name}} {{user_data.last_name}}</h2>
                  <div>
                        <span style="border: 1px solid #333; border-radius: 50%; font-size: 6em; padding: 20px" class="material-icons user-avatar">person</span>
                        <a href="#" class="btn btn-info" style="display:block; margin: 10px;">Edit profile picture</a>
                  </div>
                  <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/new_product">Create a product to sell</a></li>
                        <li class="list-group-item"><a href="#">Favourite products</a></li>
                        <li class="list-group-item list-group-item-danger"><a href="#">Delete account</a></li>
                  </ul>
                  </div>
                  <div class="col-8">
                        <h3>Your selling products</h3>
                        <div class="list-group">
                        {% for product in selling_products %}
                              <a href="/product/{{product.id}}" class="list-group-item list-group-item-action">
                                    <div class="d-flex w-100 justify-content-between">
                                          <h5 class="mb-1">{{product.title}}</h5>
                                          <small>{{product.created_at}}</small>
                                    </div>
                                    <p class="mb-1">{{product.description}}</p>
                                    <small>{{product.price}}$</small>
                              </a>
                        {% endfor %}
                        </div>
                  </div>
            </div>
      </div>
</body>
</html>