{% load static %}
 <nav class="navbar navbar-expand-lg navbar-light bg-light mb-">
      <a class="navbar-brand" href="/"><img style="width:120px" src="{% static 'images/logo.png'%}"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav m-auto">
                  <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                  </form>
            </ul>
            {% if user_logged_in %}
                  <span class="navbar-text">
                        <a class="nav-link info" href="/shopping"><span class="material-icons">shopping_cart</span></a>
                  </span>
                  <span class="navbar-text">
                        <a class="nav-link info" href="/profile">Profile</a>
                  </span>
                  <span class="navbar-text">
                        <a class="nav-link danger" href="/authenticate/logout">Loggout</a>
                  </span>
            {% else %}
                  <span class="navbar-text">
                        <a class="nav-link info" href="/authenticate">Login</a>
                  </span>
            {% endif %}
      </div>
</nav>