.profile-avatar {
      border: 1px solid #333;
      border-radius: 50%;
      font-size: 6em;
      padding: 20px
}

.profile-image {
      border-radius: 50%;
      width: 200px;
}

.register {
      /* border: 1px solid #ddd; */
      /* padding: 10px; */
      /* background-color: #ffffff; */
      /* border-radius: 6px; */
      /* -webkit-box-shadow: 5px 5px 5px -5px rgba(221,221,221,1);
      -moz-box-shadow: 5px 5px 5px -5px rgba(221,221,221,1);
      box-shadow: 5px 5px 5px -5px rgba(221,221,221,1); */
}

.register-illustration {
      background-image: url("../svgs/undraw_register.svg");
      background-size: cover;
}

.login-illustration {
      background-image: url("../svgs/undraw_login.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
}