.profile-avatar {
      border: 1px solid #333;
      border-radius: 50%;
      font-size: 6em;
      padding: 20px
}

.profile-image {
      border-radius: 50%;
      width: 100px;
}

.register-illustration {
      background-image: url("../svgs/undraw_register.svg");
      background-size: cover;
}

.login-illustration {
      background-image: url("../svgs/undraw_login.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
}

.title {
      text-transform: uppercase;
      font-size: 1.2em;
      font-weight: 600;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      margin: 5px;
}

.image-w-100-px {
      width: 100px;
      height: 100px;
      background-size: cover;
}

.delete-icon {
      padding: 15px;
      color: #cc0000;
      margin: 10px;     
}